
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr>
    <h1>My Shopping List</h1>

    <a href="{% url 'list-create' %}">Add new item</a>
    <table>
        <tr>
            <th>Items:</th>
            <th></th>
        </tr>
        {% for list in lists %}
        <tr>
            <td>{{list.title}}</td>
            <td><a href="{% url 'list' list.id %}">View</a></td>
            <td><a href="{% url 'list-update' list.id %}">Edit</a></td>
            <td><a href="{% url 'list-delete' list.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>You currently have no lists</h3>
        {% endfor %}
    </table>