<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Shopping Lists</h1>
    <table>
        <tr>
            <th>My Lists</th>
            <th></th>
        </tr>
        {% for list in lists %}
        <tr>
            <td>{{list.title}}</td>
            <td><a href="{% url 'list' list.id %}">View</a></td>
        </tr>
        {% empty %}
        <h3>You currently have no lists</h3>
        {% endfor %}
    </table>
</body>
</html>