{% extends 'listapp/main.html' %}
{% block content %}

<!--header-->
<div class="header-bar">
    <a href="{% url 'lists' %}">&#8592; Go Back</a>
</div>

<!--form allowing user to edit the list-->
<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <input class="button" type="submit" value="Submit">
    </form>
</div>


<!--footer-->
<div class="footer-bar">
    <div>
        <p>Shopping List App</p>
        <p><i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
        </p>
        <p>Greg Reeds 2024</p>
    </div>

    {% endblock content %}