{% extends 'listapp/main.html' %}
{% block content %}
<!--header-->
<div class="header-bar">
    <h1>Login</h1>
</div>

<!--post method for login-->
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register Here</a></p>
</div>

<!--footer-->
<div class="footer-bar">
    <div>
        <p>Shopping List App</p>
        <p><i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
        </p>
        <p>Greg Reeds 2024</p>
    </div>

    {% endblock content %}